/ControladorP06_a.class
/ControladorP06_b.class
/ControladorP06_c.class
/EjecutarP06_a.class
/EjecutarP06_b.class
/EjecutarP06_c.class
/Practica06_a.class
/Practica06_b$1.class
/Practica06_b.class
/Practica06_c.class
/Practica06_a$1.class
/Practica06_c$1.class
